.bgimage {
  background-image: url("../../../assets/bgimagemain3.png");
  background-color: rgba(26, 21, 18, 0.959);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

#mobile-img:hover {
  animation: shake 0.1s linear 4;
}

.active-scale {
  position: relative;
  transform: scale3d(1.1, 1.1, 1.1);
  z-index: 2;
}

.inactive-scale {
  position: relative;
  transform: scale3d(0.9, 0.9, 0.9);
  z-index: 0;
  opacity: 0.2;
}

@keyframes shake {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(1deg);
  }
}